@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Message</h2>

<address>
    9484 Vess CT<br />
    Waldorf, MD 20603<br />
    <abbr title="Phone">P:</abbr>
    301.357.0572
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@artechconsulting.us">Support@artechconsulting.us</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@artechconsulting.us">Marketing@artechconsulting.us</a>
</address>