
@{
    ViewBag.Title = "Index";
    string msg = ViewBag.error;
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/image/logo.png">
    <title>Shadow</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="~/Content/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Preloader -->
    <section id="wrapper" class="error-page">
        <div class="error-box">
            <div class="error-body text-center">
                @if (msg == "emailfail")
                {
                    @*<spna class="icon-arrows-deny"></spna>*@
                    <h3 class="text-uppercase">Email verification Fail please try again !</h3>
                    <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>

                }
                else if (msg == "400")
                {
                    <h1 class="text-danger">400</h1>
                    <h3 class="text-uppercase">Page Not Found !</h3>
                    <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
                }
                else if (msg == "403")
                {
                    <h1 class="text-info">403</h1>
                    <h3 class="text-uppercase">Forbidden Error</h3>
                    <p class="text-muted m-t-30 m-b-30 text-uppercase">You don't have permission to access on this server.</p>
                }
                else if (msg == "404")
                {
                    <h1 class="text-danger">404</h1>
                    <h3 class="text-uppercase">Page Not Found !</h3>
                    <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
                }
                else if (msg == "500")
                {
                    <h1>500</h1>
                    <h3 class="text-uppercase">Internal Server Error.</h3>
                    <p class="text-muted m-t-30 m-b-30">Please try after some time</p>
                }
                else if (msg == "503")
                {
                    <h1 class="text-warning">503</h1>
                    <h3 class="text-uppercase">This site is getting a up in few minute.</h3>
                    <p class="text-muted m-t-30 m-b-30">Please try after some time</p>
                }
                else
                {
                    <h3 class="text-uppercase">Ooops.. <br />Something going wrong please try again.</h3>
                    <p class="text-muted m-t-30 m-b-30">Please try after some time</p>
                }
                <a href="@Url.Action("Index","Home")" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Back to home</a>
            </div>
            <footer class="footer text-center">2017 © Ample Admin.</footer>
        </div>
    </section>
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
