@model IEnumerable<INEC3.Models.ResultViewModel>

@{
    ViewBag.Title = "Result List";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><b>Error </b>@ViewBag.Message
    </div>
}
<footer class="footer text-center">
    Copyright © 2018 <a href="http://www.artechconsulting.us" target="blank">Artech Consulting</a>. All Rights Reserved.
</footer>

@section Scripts {
    <!-- Custom Theme JavaScript -->
    <script src="~/Content/plugins/bower_components/datatables/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".preloader").fadeOut();
            $('#myTable').DataTable();
        });
    </script>
}
