
.background {
    fill: none;
    /*background: #333;*/
    pointer-events: all;
}

.feature {
    fill: #ccc;
    cursor: pointer;
    stroke: rgba(0, 0, 0, 0.85);
    stroke-width: 1;
}

    /*.feature:hover {
        stroke-width: 3;
    }*/

    .feature.active {
        /*fill: orange;*/
        fill: white;
    }

.mesh {
    fill: none;
    /*stroke: #5d5959;*/
    stroke: #de1515;
    stroke-width: 1;
    opacity: inherit;
    stroke-linecap: round;
    stroke-linejoin: round;
}
/*.mesh:hover {
        stroke-width: 3;
    }*/

path {
    stroke: #333;
    stroke-width: 1;
}

    path:hover {
        stroke-width: 3;
    }

.tooltip {
    background: rgba(0, 0, 0, 0.85);
    color: #f9f9f9;
    padding: 10px;
}

    .tooltip h3 {
        margin: 0px 0px 8px;
    }

    .tooltip h2 {
        margin: 0px 0px 8px;
    }

div.tooltip {
    text-align: center;
    width: auto;
    height: auto;
    padding: 7px;
    font: 12px sans-serif;
    background: #FF6EA7;
    color: #324D5C;
    pointer-events: none;
}

#chart {
    position: fixed;
    top: 18px !important;
    left: 1300px !important;
    z-index: 2;
    /* background: rgba(0,127,255,0.7);*/
    background: rgba(0,153,76,0.7);
    width: 250px;
    height: 240px;
    color: white;
    font-size: 35px;
    padding: 5px;
    top: -150px;
    left: -150px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

    #chart svg {
        border-top: 0;
        margin-left: -5px;
        margin-top: 7px;
        background: rgba(0,127,255,0.7);
    }

.county-boundary {
    fill: #8dd3c7;
    stroke: rgba(0, 0, 0, 0.85);
    stroke-width: .2px;
}

    .county-boundary:hover .state:hover {
        stroke: #de1515;
    }
/*.feature:hover, .state:hover {
    stroke: #de1515;
}*/
